{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
  <br>
  <img src="https://images.gr-assets.com/books/1379313627l/327847.jpg" alt="">
  <br>
  <br>
  <h2>The Joy of Cooking</h2>
  <h4>by Irma S. Rombauer,  Marion Rombauer Becker, Ethan Becker</h4>
  <p>Since its original publication, Joy of Cooking has been the most author
    itative cookbook in America, the one upon which millions of cooks have
    confidently relied for more than sixty-five years. It's the book your
    grandmother and mother probably learned to cook from, the book you
    gave your sister when she got married. This, the first revision in
    more than twenty years, is better than ever. Here's why: Every chapter
    has been rethought with an emphasis on freshness, convenience, and
    health.</p>
  <br>
  <br>
  <p>Click <a href="/cookbooks">here</a> to go back.</p>
</div>
{% endblock %}
