{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
  <br>
  <img src="https://images.gr-assets.com/books/1506952499l/28204534.jpg" alt="">
  <br>
  <br>
  <h2>Paper Girls, Vol. 1</h2>
  <h4>by Brian K. Vaughan,  Cliff Chiang (Illustrator), Matthew Wilson (Colorist), Jared K. Fletcher (Lettering)</h4>
  <p>In the early hours after Halloween of 1988, four 12-year-old newspaper delivery girls uncover the most important story of all time. Suburban drama and otherworldly mysteries collide in this smash-hit series about nostalgia, first jobs, and the last days of childhood.</p>
  <br>
  <br>
  <p>Click <a href="/comics">here</a> to go back.</p>
</div>
{% endblock %}
